---
import Layout from '~/layouts/Layout.astro';
import { ProjectsGrid } from '~/components/ProjectsGrid.jsx';
import PageNav from '~/components/PageNav.astro';
import Section from '../components/Section.astro';
import SectionHeader from '~/components/SectionHeader.astro';
---

<Layout title="Lewis Barnes">
  <PageNav />
  <main class="flex flex-col main-content" id="">
    <Section>
      <div class="text-white h-96 flex flex-col justify-center px-4">
        <p class="text-6xl text-center my-8" id="headline">Full Stack Engineer</p>
        <i class="text-center block pb-4 text-2xl"
          >"I can transform your real-world requirements into beautiful and functional software."</i
        >
      </div>
    </Section>
    <Section>
      <div class="grid lg:grid-cols-2 border-t border-zinc-700 mx-auto gap-4">
        <div class="lg:border-r border-zinc-700 py-4 space-y-2 border-b lg:border-b-0 px-4">
          <h2 class="text-2xl">Current Role</h2>
          <p class="italic">Software Developer @ Taylor Rose MW</p>
          <p >Maintaining and adding new features to the 3E MatterSphere Case Management System</p>
        </div>
        <div class="py-4 space-y-2 lg:text-right px-4 border-b lg:border-b-0 border-zinc-700">
          <h2 class="text-2xl">Tech Stack</h2>
          <p class="">JavaScript</p>
          <p class="">TypeScript</p>
          <p class="">C#</p>
          <p class="">HTML</p>
          <p class="">CSS</p>
          <p class="">SQL (MySQL, SQL Server)</p>
        </div>
      </div>
    </Section>
    <SectionHeader heading="Projects" />
    <Section>
      <ProjectsGrid client:load />
    </Section>
  </main>
	<footer class="border-t border-zinc-700 lg:px-36">
		<div class="lg:border-x border-zinc-700 h-full flex flex-col items-center py-4 gap-2">
			<p class="text-4xl">Want to collaborate?</p>
			<a
				class="p-2 border border-zinc-700 inline-block hover:border-[#FD107A]"
				href="mailto:Lewis_Barnes@LIVE.co.uk">Get in touch</a
			>
		</div>
	</footer>
</Layout>

<style>
  #author-image {
    height: 30vh;
    width: 30vh;
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
  }
</style>
