---
import Layout from '../layouts/Layout.astro';
import PageLink from '../components/PageLink.astro';
import { Icon } from 'astro-icon';
import GitHubCard from '../components/GitHubCard.astro';
import PageNav from '../components/PageNav.astro';
import PageFooter from '../components/PageFooter.astro';
---

<Layout title="Lewis Barnes">
  <div class="flex flex-col h-screen" >
		<PageNav pageName="Projects"/>
  <main class="mx-[10vw] py-9 lg:py-12 text-white main-content">
    <div id="projects">
      <h1 class="text-3xl">Projects</h1>
      <div class="my-4 grid grid-cols-1 lg:grid-cols-3 gap-4">
        <GitHubCard
          repoName="lewisbarnes/axew"
          repoDescription="A simple link shortener with support for text pastes."
          repoMainLang="TypeScript"
        />
        <GitHubCard
          repoName="lewisbarnes/rubik-scramble-next"
          repoDescription="A timer and scramble generator app for 3x3 twisty puzzles. Designed for Speedcubers."
          repoMainLang="TypeScript"
        />
      </div>
    </div>
  </main>
</div>
<PageFooter />
</Layout>
