---
import { Icon } from 'astro-icon';

export interface Props {
  repoName: string;
  repoDescription: string;
  repoMainLang: string;
}

const { repoName, repoDescription, repoMainLang } = Astro.props;
---

<a href={`https://github.com/${repoName}`}>
<div class="border-2 rounded-md p-2 text-white group hover:border-[#FD107A] h-full relative">
  <div class="flex flex-col gap-1">
    <p class="text-md">{repoName}</p>
    <p class="text-md pb-8">{repoDescription}</p>
    <div class="text-sm flex justify-between flex-grow justify-self-end absolute bottom-2 right-2 left-2 items-center">
      <p>{repoMainLang}</p>
      <Icon name="fa:github" class="h-4" />
    </div>
  </div>
</div>
</a>
