---
import PageLink from '~/components/PageLink.astro';
import { Icon } from 'astro-icon';

export interface Props {
  pageName?: string;
}

const { pageName = '' } = Astro.props;


---

<nav class="lg:px-36 sticky top-0 z-50 bg-zinc-900 border-b border-zinc-700">
  <div class=" text-white justify-between items-center flex p-4 lg:border-x border-zinc-700 h-24">
    <a href="/" class="text-2xl font-medium hover:text-[#FD107A]">Lewis Barnes</a>
		<div class="gap-2 text-center grid grid-cols-3">
			<a href="https://github.com/lewisbarnes"><Icon name="fa:github-square" class="h-6 mx-auto hover:text-[#FD107A]"></Icon></a>
			<a href="https://twitter.com/lbdotdev"><Icon name="fa:twitter-square" class="h-6 mx-auto hover:text-[#FD107A]"></Icon></a>
			<a href="https://www.linkedin.com/in/lewiswbarnes/"><Icon name="fa:linkedin-square" class="h-6 mx-auto hover:text-[#FD107A]"></Icon></a>
		</div>
  </div>
</nav>

