---
export interface Props {
	href: string;
	caption: string;
	addClass?: string;
}

const { href, caption, addClass } = Astro.props;
---

<li class={"px-5 py-2 hover:text-[#FD107A] " + addClass } >
	<a href={href}>{caption}</a>
</li>