---
import { Icon } from 'astro-icon';
---

<div class="mt-8 mx-[10vw] py-8 flex items-center justify-between">
	<p>&copy; Lewis Barnes 2022</p>
	<div class="flex gap-2">
		<a href="https://github.com/lewisbarnes"><Icon name="fa:github-square" class="h-6 hover:text-[#FD107A]"></Icon></a>
		<a href="https://twitter.com/lbdotdev"><Icon name="fa:twitter-square" class="h-6 hover:text-[#FD107A]"></Icon></a>
		<a href="https://www.linkedin.com/in/lewiswbarnes/"><Icon name="fa:linkedin-square" class="h-6 hover:text-[#FD107A]"></Icon></a>
	</div>
</div>